target/*
.project
.mymetadata
.classpath
src/main/webapp/WEB-INF/lib
*.class
**.class
*.jar
**.jar
**/*.jar
**/*.class
*.log
**/*.log
.idea
*.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
